%header.ichimatsu
  .ui.main.text.container.centered.grid
    .column.ten.wide.computer.fourteen.wide.mobile
      %h1
        %img(src="/assets/images/logo.png" alt="スマホde百人一首")
      .ui.basic.segment.center.aligned
        %p
          みんなのスマホを取り札にして遊べる、
          お正月にぴったりの百人一首サービスです。
        %a(href="/new")
          %button(class="ui big right labeled icon red button")
            %i(class="right arrow icon")
            遊んでみる
    %img(src="/assets/images/cloud.png" alt="雲" class="cloud")
    %img(src="/assets/images/cloud.png" alt="雲" class="cloud")
  .ui.basic.segment.center.aligned
    %img#sp(src="/assets/images/sp.png")

%section#requirement.seigaiha
  .ui.inverted.basic.segment.center.aligned
    %h3.ui.inverted.header 必要なもの

  .ui.main.container
    %br
    .ui.four.doubling.cards
      .card
        .image
          %image(src="/assets/images/requirement_1.png")
        .content
          .header スマホ
          .description
            詠み上げ用の親機1台＋取り札用が最低2台。100台並べると楽しいよ。
        .extra.content
          %i.mobile.icon
          最低3台〜
      .card
        .image
          %image(src="/assets/images/requirement_2.png")
        .content
          .header プレイヤー
          .description
            親役が1人いると遊びやすいですが、2人だけでも遊べます。
        .extra.content
          %i.user.icon
          最低2人〜
      .card
        .image
          %image(src="/assets/images/requirement_3.png")
        .content
          .header アプリ不要
          .description
            アプリのインストール不要！いつものブラウザからURLにアクセスするだけで遊べます。
      .card
        .image
          %image(src="/assets/images/requirement_4.png")
        .content
          .header ログイン不要
          .description
            めんどうな登録・ログインも一切不要！専用URLにアクセスしたらすぐに遊べます。
    %br
    %br
    %br

%section#howto
  .ui.inverted.basic.segment.center.aligned
    %h3.ui.inverted.header あそびかた
  .ui.main.text.container
    .ui.divided.items
      .item
        .image
          %img(src="/assets/images/step1.png" class="ui image small")
        .content
          .header
            %span(class="ui label teal")
              Step
              .detail 1
            まずは全員集合
          .description スマホdeカルタはみんなで同じ場所に集まって遊ぶサービスです。まずは全員集合！
      .item
        .image
          %img(src="/assets/images/step2.png")
        .content
          .header
            %span(class="ui label teal")
              Step
              .detail 2
            親がメンバーを招待する
          .description 親が新しいゲームを作成して、招待用URLをメンバーみんなに送ります。LINEで送ると便利だよ！
      .item
        .image
          %img(src="/assets/images/step3.png")
        .content
          .header
            %span(class="ui label teal")
              Step
              .detail 3
            アクセスしてスマホを並べる
          .description メンバーは招待用URLにアクセス。画面が表示されたら、みんなのスマホをカルタの札のように並べます。
      .item
        .image
          %img(src="/assets/images/step4.png")
        .content
          .header
            %span(class="ui label teal")
              Step
              .detail 4
            ゲームスタート！
          .description 全部のスマホを並べたら、いよいよゲームスタート！親機で詠み上げ開始ボタンを押してください。

    .ui.icon.negative.small.message
      %i(class="warning circle icon")
      .content
        .header 注意
        %p
          ほんとのカルタじゃないので、強く叩きすぎないでください。
          みんなのスマホや友情が壊れる恐れがあります。

  .ui.divider.hidden
  .ui.divider.hidden

.ui.secondary.segment.center.aligned.attached.padded.seigaiha
  .ui.divider.hidden
  %a(href="/new")
    %button(class="ui huge right labeled icon red button")
      %i(class="right arrow icon")
      遊んでみる
  %br
  %small
    ※このスマホが詠み上げ用の親機になります
  .ui.divider.hidden
