!!! 5
%html(lang="ja")
%head
  %meta(charset="UTF-8")
  %title スマホde百人一首
  %meta(name="keywords" content="スマホde百人一首,NOT SO BAD,Tomomichi Onishi")
  %meta(name="description" content="スマホde百人一首は、みんなのスマホを取り札にして遊べる、 お正月にぴったりの百人一首サービスです。")
  %meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")

  %meta(property="og:title" content="スマホde百人一首")
  %meta(property="og:type" content="website")
  %meta(property="og:url" content="http://karta.notsobad.jp")
  %meta(property="og:image" content="http://karta.notsobad.jp/og.png")
  %meta(property="og:description" content="スマホde百人一首は、みんなのスマホを取り札にして遊べる、 お正月にぴったりの百人一首サービスです。")
  %meta(property="og:site_name" content="スマホde百人一首")

  %meta(name="twitter:card" content="summary_large_image")
  %meta(name="twitter:title" content="スマホde百人一首")
  %meta(name="twitter:description" content="スマホde百人一首は、みんなのスマホを取り札にして遊べる、 お正月にぴったりの百人一首サービスです。")
  %meta(name="twitter:image:src" content="http://karta.notsobad.jp/og.png")

  %link(rel="stylesheet" href="/assets/components/semantic/dist/semantic.min.css")
  %link(rel="stylesheet" href="/assets/stylesheets/application.css")
  %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  %script(type="text/javascript" src="/assets/components/semantic/dist/semantic.min.js")
%body
  #container
    = yield

  %footer.ui.footer.inverted.basic.segment.center.aligned
    .ui.hidden.divider
    %div
      %a(href="https://www.facebook.com/sharer/sharer.php?u=#{ENV['HTTP_HOST']}" target="_blank")
        %button.ui.facebook.small.button.compact
          %i.facebook.icon
          Facebook
      %a(href="https://twitter.com/share?url=#{ENV['HTTP_HOST']}&text=%e3%82%b9%e3%83%9e%e3%83%9bde%e7%99%be%e4%ba%ba%e4%b8%80%e9%a6%96%20%7c%20%e3%81%bf%e3%82%93%e3%81%aa%e3%81%ae%e3%82%b9%e3%83%9e%e3%83%9b%e3%82%92%e5%8f%96%e3%82%8a%e6%9c%ad%e3%81%ab%e3%81%97%e3%81%a6%e9%81%8a%e3%81%b9%e3%82%8b%e3%80%81%20%e3%81%8a%e6%ad%a3%e6%9c%88%e3%81%ab%e3%81%b4%e3%81%a3%e3%81%9f%e3%82%8a%e3%81%ae%e7%99%be%e4%ba%ba%e4%b8%80%e9%a6%96%e3%82%b5%e3%83%bc%e3%83%93%e3%82%b9%e3%80%82" target="_blank")
        %button.ui.twitter.small.button.compact
          %i.twitter.icon
          Twitter
      %a(href="http://line.me/R/msg/text/?%e3%82%b9%e3%83%9e%e3%83%9bde%e7%99%be%e4%ba%ba%e4%b8%80%e9%a6%96%20http%3a%2f%2fkarta%2enotsobad%2ejp" target="_blank")
        %button.ui.green.small.button.compact
          %i.comment.icon
          LINE
    .ui.hidden.divider
    %div
      %small
        %a(href="http://notsobad.jp" target="_blank")
          スマホde百人一首
        All Rights Reserved.
