.ui.segment.ichimatsu.subheader.attached
  %h1
    %img.ui.centered.image.small(src="/assets/images/logo.png")
.ui.inverted.segment.attached.center.aligned
  %h4.ui.inverted.header
    ゲーム終了
%section
  .ui.segment.basic.center.aligned.padded.seigaiha
    .ui.divider.hidden
    %p お疲れさまでした！
    .ui.divider.hidden
    %div
      %a(href="/")
        %button#btn_next(class="ui big right labeled icon red button")
          %i(class="right arrow icon")
          トップに戻る
    .ui.divider.hidden
